# This file was generated by OpenAPIDocsIT::writeUpdatedOpenAPI at 2021-06-21T21:34:33.127Z. Do not modify.
openapi: 3.0.1
info:
  title: Expander API - Assets V2
  description: An API for interacting with Network Asset data.
  termsOfService: https://www.expanse.co/master-service-agreement/
  contact:
    name: API Support
    url: https://expander-support.expanse.co
    email: expander-support@expanseinc.com
  version: 2.0.0
servers:
  - url: https://expander.expanse.co
security:
  - JWT: []
paths:
  /api/v1/idToken/:
    get:
      tags:
        - Tokens
      summary: Get ID token
      description: |-
        This route can be accessed with an Expanse-provided refresh
        token to generate a valid JWT Token to be used with the other api
        endpoints.

        Example: `Authorization: Bearer refreshtoken`
      operationId: getIdToken
      responses:
        200:
          description: |-
            Response token can be used as JWT in future requests to other endpoints

            Example: `Authorization: JWT token`
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
      security:
        - Bearer: []
  /api/v2/assets/account-integrations:
    get:
      tags:
        - Account Integrations
      summary: List provider accounts
      description: List provider accounts
      operationId: getAccountIntegrations
      parameters:
        - name: limit
          in: query
          description: Page size limit
          required: false
          schema:
            type: integer
            format: int32
            default: 100
        - name: pageToken
          in: query
          description: Page token for pagination
          required: false
          schema:
            type: string
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageCloudResourceProviderAccount'
  /api/v2/assets/certificates:
    get:
      tags:
        - Certificate Assets
      summary: Get a paginated list of certificates.
      description: Get a paginated list of certificates. 'details' field of the response
        will be empty but is populated by the fetch endpoint - /api/v2/assets/certificates/{md5Hash}
      operationId: getAllCertAssets
      parameters:
        - name: limit
          in: query
          description: Page size limit
          required: false
          schema:
            type: integer
            format: int32
            default: 100
        - name: pageToken
          in: query
          description: Page token for pagination
          required: false
          schema:
            type: string
        - name: commonNameSearch
          in: query
          description: Search for given domain value via substring match
          required: false
          schema:
            type: string
        - name: recentIp
          in: query
          description: Filter by IP; Returns only assets with a recent IP matching the
            provided filter.
          required: false
          schema:
            type: string
        - name: providerId
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given providers. If not set, filter is ignored.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: providerName
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given providers. If not set, filter is ignored.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: formattedIssuerOrg
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given formatted issuer orgs. If not set, filter is ignored.
          required: false
          schema:
            type: string
        - name: businessUnitId
          in: query
          description: 'Comma-separated string; Returns only results whose Business
          Unit''s ID falls in the provided list. NOTE: If omitted, the API will return
          results for all Business Units the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              format: uuid
        - name: businessUnitName
          in: query
          description: 'Comma-separated string; Returns only results whose Business
          Unit''s Name falls in the provided list. NOTE: If omitted, the API will
          return results for all Business Units the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: property
          in: query
          description: 'Comma-separated string; Returns only results whose certificate
          property falls in the provided list. NOTE: If omitted, the API will return
          results for all properties the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: minLastObservedDate
          in: query
          description: Filter by last observed timestamp. Date formatted string (YYYY-MM-DD).
          required: false
          schema:
            type: string
            format: date
        - name: certificateAdvertisementStatus
          in: query
          description: Comma-separated string; Returns only result whose asset's certificate
            advertisement whose statuses fall in the provided list.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - NO_CERTIFICATE_ADVERTISEMENT
                - HAS_CERTIFICATE_ADVERTISEMENT
        - name: serviceStatus
          in: query
          description: Comma-separated string; Returns only result whose asset's service
            whose statuses fall in the provided list.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - NO_ACTIVE_SERVICE
                - HAS_ACTIVE_SERVICE
                - NO_ACTIVE_CLOUD_SERVICE
                - HAS_ACTIVE_CLOUD_SERVICE
                - NO_ACTIVE_ON_PREM_SERVICE
                - HAS_ACTIVE_ON_PREM_SERVICE
        - name: issueStatus
          in: query
          description: Comma-separated string; Returns only result whose asset's issue
            statuses fall in the provided list.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - NO_ACTIVE_ISSUE
                - HAS_ACTIVE_ISSUE
        - name: hostingEnvironment
          in: query
          description: Filter by Hosting Environment
          required: false
          schema:
            type: string
            enum:
              - ON_PREM
              - CLOUD
              - NONE
              - RESERVED_IPS
        - name: hasRelatedCloudResources
          in: query
          description: Filter by whether the asset has a related cloud resource asset
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: boolean
        - name: tagId
          in: query
          description: Comma-separated string; Returns any assets with a tagId in the
            provided set.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              format: uuid
        - name: tagName
          in: query
          description: Comma-separated string; Returns any assets with a tagName in
            the provided set.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: include
          in: query
          description: 'Comma-separated string; Include the provided fields as part
          of the serialized result.<br/>Values:<br/>`certDetails`: populate all elements
          in `data[*].details`.<br/>If param is not specified, `data[*].details` will
          be empty.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: sort
          in: query
          description: Sort by specified properties
          required: false
          schema:
            type: string
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageCertificateAsset'
  /api/v2/assets/certificates/count:
    get:
      tags:
        - Certificate Assets
      summary: Get count of certificates.
      description: Count certificates
      operationId: getCertAssetCount
      parameters:
        - name: pageToken
          in: query
          description: Page token for pagination
          required: false
          schema:
            type: string
        - name: commonNameSearch
          in: query
          description: Search for given domain value via substring match
          required: false
          schema:
            type: string
        - name: recentIp
          in: query
          description: Filter by IP; Returns only assets with a recent IP matching the
            provided filter.
          required: false
          schema:
            type: string
        - name: providerId
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given providers. If not set, filter is ignored.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: providerName
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given providers. If not set, filter is ignored.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: formattedIssuerOrg
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given formatted issuer orgs. If not set, filter is ignored.
          required: false
          schema:
            type: string
        - name: businessUnitId
          in: query
          description: 'Comma-separated string; Returns only results whose Business
          Unit''s ID falls in the provided list. NOTE: If omitted, the API will return
          results for all Business Units the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              format: uuid
        - name: businessUnitName
          in: query
          description: 'Comma-separated string; Returns only results whose Business
          Unit''s Name falls in the provided list. NOTE: If omitted, the API will
          return results for all Business Units the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: property
          in: query
          description: 'Comma-separated string; Returns only results whose certificate
          property falls in the provided list. NOTE: If omitted, the API will return
          results for all properties the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: minLastObservedDate
          in: query
          description: Filter by last observed timestamp. Date formatted string (YYYY-MM-DD).
          required: false
          schema:
            type: string
            format: date
        - name: certificateAdvertisementStatus
          in: query
          description: Comma-separated string; Returns only result whose asset's certificate
            advertisement whose statuses fall in the provided list.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - NO_CERTIFICATE_ADVERTISEMENT
                - HAS_CERTIFICATE_ADVERTISEMENT
        - name: serviceStatus
          in: query
          description: Comma-separated string; Returns only result whose asset's service
            whose statuses fall in the provided list.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - NO_ACTIVE_SERVICE
                - HAS_ACTIVE_SERVICE
                - NO_ACTIVE_CLOUD_SERVICE
                - HAS_ACTIVE_CLOUD_SERVICE
                - NO_ACTIVE_ON_PREM_SERVICE
                - HAS_ACTIVE_ON_PREM_SERVICE
        - name: issueStatus
          in: query
          description: Comma-separated string; Returns only result whose asset's issue
            statuses fall in the provided list.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - NO_ACTIVE_ISSUE
                - HAS_ACTIVE_ISSUE
        - name: hostingEnvironment
          in: query
          description: Filter by Hosting Environment
          required: false
          schema:
            type: string
            enum:
              - ON_PREM
              - CLOUD
              - NONE
              - RESERVED_IPS
        - name: hasRelatedCloudResources
          in: query
          description: Filter by whether the asset has a related cloud resource asset
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: boolean
        - name: tagId
          in: query
          description: Comma-separated string; Returns any assets with a tagId in the
            provided set.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              format: uuid
        - name: tagName
          in: query
          description: Comma-separated string; Returns any assets with a tagName in
            the provided set.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
  /api/v2/assets/certificates/{pemMd5Hash}:
    get:
      tags:
        - Certificate Assets
      summary: Get certificate by md5 hash
      description: Get certificate by md5 hash
      operationId: getCertificateByMd5Hash
      parameters:
        - name: minRecentIpLastObservedDate
          in: query
          description: Filter by last observed timestamp. Date formatted string (YYYY-MM-DD).
          required: false
          schema:
            type: string
            format: date
        - name: pemMd5Hash
          in: path
          description: MD5 hash for given certificate asset PEM.
          required: true
          schema:
            type: string
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateAsset'
  /api/v2/assets/certificates/{id}:
    get:
      tags:
        - Certificate Assets
      summary: Get certificate by asset id
      description: Get certificate by asset id
      operationId: getCertificateById
      parameters:
        - name: minRecentIpLastObservedDate
          in: query
          description: Filter by last observed timestamp. Date formatted string (YYYY-MM-DD).
          required: false
          schema:
            type: string
            format: date
        - name: id
          in: path
          description: Id of asset
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateAsset'
  /api/v2/assets/certificates/csv:
    get:
      tags:
        - Certificate Assets
      summary: Get CSV file of certificates
      description: Get CSV file of certificates
      operationId: getAllCertsCsv
      parameters:
        - name: limit
          in: query
          description: Page size limit
          required: false
          schema:
            maximum: 200000
            type: integer
            format: int32
            default: 200000
        - name: commonNameSearch
          in: query
          description: Search for given domain value via substring match
          required: false
          schema:
            type: string
        - name: recentIp
          in: query
          description: Filter by IP; Returns only assets with a recent IP matching the
            provided filter.
          required: false
          schema:
            type: string
        - name: providerId
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given providers. If not set, filter is ignored.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: providerName
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given providers. If not set, filter is ignored.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: formattedIssuerOrg
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given formatted issuer orgs. If not set, filter is ignored.
          required: false
          schema:
            type: string
        - name: businessUnitId
          in: query
          description: 'Comma-separated string; Returns only results whose Business
          Unit''s ID falls in the provided list. NOTE: If omitted, the API will return
          results for all Business Units the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              format: uuid
        - name: businessUnitName
          in: query
          description: 'Comma-separated string; Returns only results whose Business
          Unit''s Name falls in the provided list. NOTE: If omitted, the API will
          return results for all Business Units the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: property
          in: query
          description: 'Comma-separated string; Returns only results whose certificate
          property falls in the provided list. NOTE: If omitted, the API will return
          results for all properties the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: filename
          in: query
          description: The filename to use for downloads
          required: false
          schema:
            type: string
        - name: minLastObservedDate
          in: query
          description: Filter by last observed timestamp. Date formatted string (YYYY-MM-DD).
          required: false
          schema:
            type: string
            format: date
        - name: certificateAdvertisementStatus
          in: query
          description: Comma-separated string; Returns only result whose asset's certificate
            advertisement whose statuses fall in the provided list.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - NO_CERTIFICATE_ADVERTISEMENT
                - HAS_CERTIFICATE_ADVERTISEMENT
        - name: serviceStatus
          in: query
          description: Comma-separated string; Returns only result whose asset's service
            whose statuses fall in the provided list.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - NO_ACTIVE_SERVICE
                - HAS_ACTIVE_SERVICE
                - NO_ACTIVE_CLOUD_SERVICE
                - HAS_ACTIVE_CLOUD_SERVICE
                - NO_ACTIVE_ON_PREM_SERVICE
                - HAS_ACTIVE_ON_PREM_SERVICE
        - name: issueStatus
          in: query
          description: Comma-separated string; Returns only result whose asset's issue
            statuses fall in the provided list.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - NO_ACTIVE_ISSUE
                - HAS_ACTIVE_ISSUE
        - name: hostingEnvironment
          in: query
          description: Filter by Hosting Environment
          required: false
          schema:
            type: string
            enum:
              - ON_PREM
              - CLOUD
              - NONE
              - RESERVED_IPS
        - name: hasRelatedCloudResources
          in: query
          description: Filter by whether the asset has a related cloud resource asset
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: boolean
        - name: tagId
          in: query
          description: Comma-separated string; Returns any assets with a tagId in the
            provided set.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              format: uuid
        - name: tagName
          in: query
          description: Comma-separated string; Returns any assets with a tagName in
            the provided set.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        200:
          description: default response
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/FileDownloadResponseEntityCsvCertificateAsset'
  /api/v2/assets/certificates/{id}/annotations:
    put:
      tags:
        - Certificate Assets
      summary: Update certificate annotations
      description: Update certificate annotations. The request must contain either
        a contact email or id for each contact and tag name or id for each tag. If
        both contact email and id are supplied, only the id will be used. If tag name
        and id are supplied only the id will be used. If the tag name or contact email
        do not exist yet, they will be created.
      operationId: updateCertificateAssetAnnotations
      parameters:
        - name: id
          in: path
          description: Certificate id for given certificate asset
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Annotations'
        required: true
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Annotations'
  /api/v2/assets/certificates/tag-assignments/bulk:
    post:
      tags:
        - Certificate Assets
      summary: Bulk tag assignment
      description: Bulk tag assignment
      operationId: bulkTagOperations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkRequestBulkTagRequestOperation'
        required: true
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkResponseOperationStatusBulkTagRequestOperation'
  /api/v2/assets/certificates/contact-assignments/bulk:
    post:
      tags:
        - Certificate Assets
      summary: Bulk assignments and unassignments of contacts
      description: Bulk assignments and unassignments of contacts. Both the asset
        and contact must exist already.
      operationId: bulkUpdateContactAssignments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkRequestBulkContactAssignmentOperation'
        required: true
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkResponseOperationStatusBulkContactAssignmentOperation'
  /api/v2/assets/certificate-issuers:
    get:
      tags:
        - Certificate Issuers
      summary: List certificate issuers
      description: List certificate issuers
      operationId: getCertificateIssuers
      parameters:
        - name: limit
          in: query
          description: Page size limit
          required: false
          schema:
            type: integer
            format: int32
            default: 100
        - name: pageToken
          in: query
          description: Page token for pagination
          required: false
          schema:
            type: string
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageCertificateIssuer'
  /api/v2/assets/certificate-properties:
    get:
      tags:
        - Certificate Properties
      summary: List available certificate properties
      description: List available certificate properties
      operationId: getCertificateProperties
      parameters:
        - name: limit
          in: query
          description: Page size limit
          required: false
          schema:
            type: integer
            format: int32
            default: 100
        - name: pageToken
          in: query
          description: Page token for pagination
          required: false
          schema:
            type: string
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageCertificateProperty'
  /api/v2/assets/cloud-resources/tag-assignments/bulk:
    post:
      tags:
        - Cloud Resource Assets
      summary: Bulk tag assignment
      description: Bulk tag assignment
      operationId: bulkTagOperations_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkRequestBulkTagRequestOperation'
        required: true
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkResponseOperationStatusBulkTagRequestOperation'
  /api/v2/assets/cloud-resources/contact-assignments/bulk:
    post:
      tags:
        - Cloud Resource Assets
      summary: Bulk assignments and unassignments of contacts
      description: Bulk assignments and unassignments of contacts. Both the asset
        and contact must exist already.
      operationId: bulkUpdateContactAssignments_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkRequestBulkContactAssignmentOperation'
        required: true
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkResponseOperationStatusBulkContactAssignmentOperation'
  /api/v2/assets/cloud-resources:
    get:
      tags:
        - Cloud Resource Assets
      summary: List cloud resources
      description: Get a paginated list of cloud resources.
      operationId: getCloudResourceAssets
      parameters:
        - name: limit
          in: query
          description: Page size limit
          required: false
          schema:
            type: integer
            format: int32
            default: 100
        - name: pageToken
          in: query
          description: Page token for pagination
          required: false
          schema:
            type: string
        - name: accountIntegrationIds
          in: query
          description: Filter by provider account integrations by IDs
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: inetSearch
          in: query
          description: Filter by IP
          required: false
          schema:
            type: string
        - name: domainSearch
          in: query
          description: Search for given domain value via substring match
          required: false
          schema:
            type: string
        - name: providerId
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given providers. If not set, filter is ignored.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: providerName
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given providers. If not set, filter is ignored.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: businessUnitId
          in: query
          description: 'Comma-separated string; Returns only results whose Business
          Unit''s ID falls in the provided list. NOTE: If omitted, the API will return
          results for all Business Units the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              format: uuid
        - name: businessUnitName
          in: query
          description: 'Comma-separated string; Returns only results whose Business
          Unit''s Name falls in the provided list. NOTE: If omitted, the API will
          return results for all Business Units the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: type
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given resource type. If not set, results will include anything regardless
            of resource type.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: region
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given region. If not set, results will include anything regardless
            of region.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: minLastObservedDate
          in: query
          description: Filter by last observed timestamp. Date formatted string (YYYY-MM-DD).
          required: false
          schema:
            type: string
            format: date
        - name: tagId
          in: query
          description: Comma-separated string; Returns any assets with a tagId in the
            provided set.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              format: uuid
        - name: tagName
          in: query
          description: Comma-separated string; Returns any assets with a tagName in
            the provided set.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: serviceStatus
          in: query
          description: Comma-separated string; Returns only result whose asset's service
            whose statuses fall in the provided list.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - NO_ACTIVE_SERVICE
                - HAS_ACTIVE_SERVICE
                - NO_ACTIVE_CLOUD_SERVICE
                - HAS_ACTIVE_CLOUD_SERVICE
                - NO_ACTIVE_ON_PREM_SERVICE
                - HAS_ACTIVE_ON_PREM_SERVICE
        - name: issueStatus
          in: query
          description: Comma-separated string; Returns only result whose asset's issue
            statuses fall in the provided list.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - NO_ACTIVE_ISSUE
                - HAS_ACTIVE_ISSUE
        - name: sort
          in: query
          description: Sort by specified properties
          required: false
          schema:
            type: string
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageCloudResourceAsset'
  /api/v2/assets/cloud-resources/count:
    get:
      tags:
        - Cloud Resource Assets
      summary: Count cloud resources
      description: Get count of cloud resources
      operationId: getCloudResourceAssetsCount
      parameters:
        - name: pageToken
          in: query
          description: Page token for pagination
          required: false
          schema:
            type: string
        - name: accountIntegrationIds
          in: query
          description: Filter by provider account integrations by IDs
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: inetSearch
          in: query
          description: Filter by IP
          required: false
          schema:
            type: string
        - name: domainSearch
          in: query
          description: Search for given domain value via substring match
          required: false
          schema:
            type: string
        - name: providerId
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given providers. If not set, filter is ignored.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: providerName
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given providers. If not set, filter is ignored.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: businessUnitId
          in: query
          description: 'Comma-separated string; Returns only results whose Business
          Unit''s ID falls in the provided list. NOTE: If omitted, the API will return
          results for all Business Units the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              format: uuid
        - name: businessUnitName
          in: query
          description: 'Comma-separated string; Returns only results whose Business
          Unit''s Name falls in the provided list. NOTE: If omitted, the API will
          return results for all Business Units the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: type
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given resource type. If not set, results will include anything regardless
            of resource type.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: region
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given region. If not set, results will include anything regardless
            of region.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: minLastObservedDate
          in: query
          description: Filter by last observed timestamp. Date formatted string (YYYY-MM-DD).
          required: false
          schema:
            type: string
            format: date
        - name: tagId
          in: query
          description: Comma-separated string; Returns any assets with a tagId in the
            provided set.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              format: uuid
        - name: tagName
          in: query
          description: Comma-separated string; Returns any assets with a tagName in
            the provided set.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: serviceStatus
          in: query
          description: Comma-separated string; Returns only result whose asset's service
            whose statuses fall in the provided list.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - NO_ACTIVE_SERVICE
                - HAS_ACTIVE_SERVICE
                - NO_ACTIVE_CLOUD_SERVICE
                - HAS_ACTIVE_CLOUD_SERVICE
                - NO_ACTIVE_ON_PREM_SERVICE
                - HAS_ACTIVE_ON_PREM_SERVICE
        - name: issueStatus
          in: query
          description: Comma-separated string; Returns only result whose asset's issue
            statuses fall in the provided list.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - NO_ACTIVE_ISSUE
                - HAS_ACTIVE_ISSUE
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
  /api/v2/assets/cloud-resources/{id}:
    get:
      tags:
        - Cloud Resource Assets
      summary: Get cloud resource
      description: Get details about cloud resource
      operationId: getCloudResourceAssetDetails
      parameters:
        - name: id
          in: path
          description: ID of cloud resource asset.
          required: true
          schema:
            type: string
            format: uuid
        - name: minRecentIpLastObservedDate
          in: query
          description: Filter by last observed timestamp. Date formatted string (YYYY-MM-DD).
          required: false
          schema:
            type: string
            format: date
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudResourceAsset'
  /api/v2/assets/cloud-resources/csv:
    get:
      tags:
        - Cloud Resource Assets
      summary: Get CSV file for cloud resources
      description: Get CSV file for cloud resources
      operationId: getCloudResourceAssetsCsv
      parameters:
        - name: limit
          in: query
          description: Page size limit
          required: false
          schema:
            maximum: 200000
            type: integer
            format: int32
            default: 200000
        - name: accountIntegrationIds
          in: query
          description: Filter by provider account integrations by IDs
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: inetSearch
          in: query
          description: Filter by IP
          required: false
          schema:
            type: string
        - name: domainSearch
          in: query
          description: Search for given domain value via substring match
          required: false
          schema:
            type: string
        - name: providerId
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given providers. If not set, filter is ignored.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: providerName
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given providers. If not set, filter is ignored.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: businessUnitId
          in: query
          description: 'Comma-separated string; Returns only results whose Business
          Unit''s ID falls in the provided list. NOTE: If omitted, the API will return
          results for all Business Units the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              format: uuid
        - name: businessUnitName
          in: query
          description: 'Comma-separated string; Returns only results whose Business
          Unit''s Name falls in the provided list. NOTE: If omitted, the API will
          return results for all Business Units the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: type
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given resource type. If not set, results will include anything regardless
            of resource type.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: region
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given region. If not set, results will include anything regardless
            of region.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: minLastObservedDate
          in: query
          description: Filter by last observed timestamp. Date formatted string (YYYY-MM-DD).
          required: false
          schema:
            type: string
            format: date
        - name: tagId
          in: query
          description: Comma-separated string; Returns any assets with a tagId in the
            provided set.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              format: uuid
        - name: tagName
          in: query
          description: Comma-separated string; Returns any assets with a tagName in
            the provided set.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: serviceStatus
          in: query
          description: Comma-separated string; Returns only result whose asset's service
            whose statuses fall in the provided list.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - NO_ACTIVE_SERVICE
                - HAS_ACTIVE_SERVICE
                - NO_ACTIVE_CLOUD_SERVICE
                - HAS_ACTIVE_CLOUD_SERVICE
                - NO_ACTIVE_ON_PREM_SERVICE
                - HAS_ACTIVE_ON_PREM_SERVICE
        - name: issueStatus
          in: query
          description: Comma-separated string; Returns only result whose asset's issue
            statuses fall in the provided list.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - NO_ACTIVE_ISSUE
                - HAS_ACTIVE_ISSUE
        - name: filename
          in: query
          description: The filename to use for downloads
          required: false
          schema:
            type: string
      responses:
        200:
          description: default response
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/FileDownloadResponseEntityCsvCloudResourceAsset'
  /api/v2/assets/cloud-resources/{id}/annotations:
    put:
      tags:
        - Cloud Resource Assets
      summary: Update cloud resource annotations
      description: Update cloud resource annotations. The request must contain either
        a contact email or id for each contact and tag name or id for each tag. If
        both contact email and id are supplied, only the id will be used. If tag name
        and id are supplied only the id will be used. If the tag name or contact email
        do not exist yet, they will be created.
      operationId: updateCloudResourceAssetAnnotations
      parameters:
        - name: id
          in: path
          description: Cloud resource id for given cloud resource asset
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Annotations'
        required: true
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Annotations'
  /api/v2/assets/cloud-resource-types:
    get:
      tags:
        - Cloud Resource Types
      summary: List cloud resource types
      description: List cloud resource types
      operationId: getCloudResourceTypes
      parameters:
        - name: limit
          in: query
          description: Page size limit
          required: false
          schema:
            type: integer
            format: int32
            default: 100
        - name: pageToken
          in: query
          description: Page token for pagination
          required: false
          schema:
            type: string
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageCloudResourceType'
  /api/v2/assets/domains/tag-assignments/bulk:
    post:
      tags:
        - Domain Assets
      summary: Bulk tag assignment
      description: Bulk tag assignment
      operationId: bulkTagOperations_2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkRequestBulkTagRequestOperation'
        required: true
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkResponseOperationStatusBulkTagRequestOperation'
  /api/v2/assets/domains/contact-assignments/bulk:
    post:
      tags:
        - Domain Assets
      summary: Bulk assignments and unassignments of contacts
      description: Bulk assignments and unassignments of contacts. Both the asset
        and contact must exist already.
      operationId: bulkUpdateContactAssignments_2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkRequestBulkContactAssignmentOperation'
        required: true
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkResponseOperationStatusBulkContactAssignmentOperation'
  /api/v2/assets/domains:
    get:
      tags:
        - Domain Assets
      summary: List domains
      description: Get a paginated list of domains. 'details' field of the response
        will be empty but is populated by the fetch endpoint - /api/v2/assets/domains/{domainName}
      operationId: getDomainAssets
      parameters:
        - name: limit
          in: query
          description: Page size limit
          required: false
          schema:
            type: integer
            format: int32
            default: 100
        - name: pageToken
          in: query
          description: Page token for pagination
          required: false
          schema:
            type: string
        - name: domainSearch
          in: query
          description: Search for given domain value via substring match
          required: false
          schema:
            type: string
        - name: recentIp
          in: query
          description: Filter by IP; Returns only assets with a recent IP matching the
            provided filter.
          required: false
          schema:
            type: string
        - name: providerId
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given providers. If not set, filter is ignored.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: providerName
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given providers. If not set, filter is ignored.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: formattedRegistrarName
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given formatted registrar names. If not set, filter is ignored.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: businessUnitId
          in: query
          description: 'Comma-separated string; Returns only results whose Business
          Unit''s ID falls in the provided list. NOTE: If omitted, the API will return
          results for all Business Units the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              format: uuid
        - name: businessUnitName
          in: query
          description: 'Comma-separated string; Returns only results whose Business
          Unit''s Name falls in the provided list. NOTE: If omitted, the API will
          return results for all Business Units the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: minLastObservedDate
          in: query
          description: Filter by last observed timestamp. Date formatted string (YYYY-MM-DD).
          required: false
          schema:
            type: string
            format: date
        - name: dnsResolutionStatus
          in: query
          description: Comma-separated string; Returns only result whose asset's resolution
            whose statuses fall in the provided list.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - NO_DNS_RESOLUTION
                - HAS_DNS_RESOLUTION
        - name: serviceStatus
          in: query
          description: Comma-separated string; Returns only result whose asset's service
            whose statuses fall in the provided list.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - NO_ACTIVE_SERVICE
                - HAS_ACTIVE_SERVICE
                - NO_ACTIVE_CLOUD_SERVICE
                - HAS_ACTIVE_CLOUD_SERVICE
                - NO_ACTIVE_ON_PREM_SERVICE
                - HAS_ACTIVE_ON_PREM_SERVICE
        - name: issueStatus
          in: query
          description: Comma-separated string; Returns only result whose asset's issue
            statuses fall in the provided list.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - NO_ACTIVE_ISSUE
                - HAS_ACTIVE_ISSUE
        - name: hostingEnvironment
          in: query
          description: Filter by Hosting Environment
          required: false
          schema:
            type: string
            enum:
              - ON_PREM
              - CLOUD
              - NONE
              - RESERVED_IPS
        - name: hasRelatedCloudResources
          in: query
          description: Filter by whether the asset has a related cloud resource asset
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: boolean
        - name: isPaidLevelDomain
          in: query
          description: Filter by whether the assets is a paid level domain. This will
            return domains like bar.com, but will exclude foo.bar.com.
          required: false
          schema:
            type: boolean
        - name: tagId
          in: query
          description: Comma-separated string; Returns any assets with a tagId in the
            provided set.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              format: uuid
        - name: tagName
          in: query
          description: Comma-separated string; Returns any assets with a tagName in
            the provided set.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: sort
          in: query
          description: Sort by specified properties
          required: false
          schema:
            type: string
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageDomainAsset'
  /api/v2/assets/domains/count:
    get:
      tags:
        - Domain Assets
      summary: Count domains
      description: Get count of domains
      operationId: getDomainAssetsCount
      parameters:
        - name: pageToken
          in: query
          description: Page token for pagination
          required: false
          schema:
            type: string
        - name: domainSearch
          in: query
          description: Search for given domain value via substring match
          required: false
          schema:
            type: string
        - name: recentIp
          in: query
          description: Filter by IP; Returns only assets with a recent IP matching the
            provided filter.
          required: false
          schema:
            type: string
        - name: providerId
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given providers. If not set, filter is ignored.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: providerName
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given providers. If not set, filter is ignored.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: formattedRegistrarName
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given formatted registrar names. If not set, filter is ignored.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: businessUnitId
          in: query
          description: 'Comma-separated string; Returns only results whose Business
          Unit''s ID falls in the provided list. NOTE: If omitted, the API will return
          results for all Business Units the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              format: uuid
        - name: businessUnitName
          in: query
          description: 'Comma-separated string; Returns only results whose Business
          Unit''s Name falls in the provided list. NOTE: If omitted, the API will
          return results for all Business Units the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: minLastObservedDate
          in: query
          description: Filter by last observed timestamp. Date formatted string (YYYY-MM-DD).
          required: false
          schema:
            type: string
            format: date
        - name: dnsResolutionStatus
          in: query
          description: Comma-separated string; Returns only result whose asset's resolution
            whose statuses fall in the provided list.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - NO_DNS_RESOLUTION
                - HAS_DNS_RESOLUTION
        - name: serviceStatus
          in: query
          description: Comma-separated string; Returns only result whose asset's service
            whose statuses fall in the provided list.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - NO_ACTIVE_SERVICE
                - HAS_ACTIVE_SERVICE
                - NO_ACTIVE_CLOUD_SERVICE
                - HAS_ACTIVE_CLOUD_SERVICE
                - NO_ACTIVE_ON_PREM_SERVICE
                - HAS_ACTIVE_ON_PREM_SERVICE
        - name: issueStatus
          in: query
          description: Comma-separated string; Returns only result whose asset's issue
            statuses fall in the provided list.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - NO_ACTIVE_ISSUE
                - HAS_ACTIVE_ISSUE
        - name: hostingEnvironment
          in: query
          description: Filter by Hosting Environment
          required: false
          schema:
            type: string
            enum:
              - ON_PREM
              - CLOUD
              - NONE
              - RESERVED_IPS
        - name: hasRelatedCloudResources
          in: query
          description: Filter by whether the asset has a related cloud resource asset
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: boolean
        - name: isPaidLevelDomain
          in: query
          description: Filter by whether the assets is a paid level domain. This will
            return domains like bar.com, but will exclude foo.bar.com.
          required: false
          schema:
            type: boolean
        - name: tagId
          in: query
          description: Comma-separated string; Returns any assets with a tagId in the
            provided set.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              format: uuid
        - name: tagName
          in: query
          description: Comma-separated string; Returns any assets with a tagName in
            the provided set.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
  /api/v2/assets/domains/{domain}:
    get:
      tags:
        - Domain Assets
      summary: Get domain by domain name
      description: Get domain by domain name
      operationId: getDomainAssetDetailsByDomain
      parameters:
        - name: domain
          in: path
          description: Domain name for asset
          required: true
          schema:
            type: string
        - name: minRecentIpLastObservedDate
          in: query
          description: Filter by last observed timestamp. Date formatted string (YYYY-MM-DD).
          required: false
          schema:
            type: string
            format: date
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainAsset'
  /api/v2/assets/domains/{id}:
    get:
      tags:
        - Domain Assets
      summary: Get domain by asset id
      description: Get domain by asset id
      operationId: getDomainAssetDetailsById
      parameters:
        - name: id
          in: path
          description: Id of asset
          required: true
          schema:
            type: string
            format: uuid
        - name: minRecentIpLastObservedDate
          in: query
          description: Filter by last observed timestamp. Date formatted string (YYYY-MM-DD).
          required: false
          schema:
            type: string
            format: date
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainAsset'
  /api/v2/assets/domains/csv:
    get:
      tags:
        - Domain Assets
      summary: Get CSV file for domains
      description: Get CSV file for domains
      operationId: getDomainAssetsCsv
      parameters:
        - name: limit
          in: query
          description: Page size limit
          required: false
          schema:
            maximum: 200000
            type: integer
            format: int32
            default: 200000
        - name: domainSearch
          in: query
          description: Search for given domain value via substring match
          required: false
          schema:
            type: string
        - name: recentIp
          in: query
          description: Filter by IP; Returns only assets with a recent IP matching the
            provided filter.
          required: false
          schema:
            type: string
        - name: providerId
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given providers. If not set, filter is ignored.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: providerName
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given providers. If not set, filter is ignored.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: formattedRegistrarName
          in: query
          description: Comma-separated string; Returns only results that were found
            on the given formatted registrar names. If not set, filter is ignored.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: businessUnitId
          in: query
          description: 'Comma-separated string; Returns only results whose Business
          Unit''s ID falls in the provided list. NOTE: If omitted, the API will return
          results for all Business Units the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              format: uuid
        - name: businessUnitName
          in: query
          description: 'Comma-separated string; Returns only results whose Business
          Unit''s Name falls in the provided list. NOTE: If omitted, the API will
          return results for all Business Units the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: minLastObservedDate
          in: query
          description: Filter by last observed timestamp. Date formatted string (YYYY-MM-DD).
          required: false
          schema:
            type: string
            format: date
        - name: dnsResolutionStatus
          in: query
          description: Comma-separated string; Returns only result whose asset's resolution
            whose statuses fall in the provided list.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - NO_DNS_RESOLUTION
                - HAS_DNS_RESOLUTION
        - name: serviceStatus
          in: query
          description: Comma-separated string; Returns only result whose asset's service
            whose statuses fall in the provided list.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - NO_ACTIVE_SERVICE
                - HAS_ACTIVE_SERVICE
                - NO_ACTIVE_CLOUD_SERVICE
                - HAS_ACTIVE_CLOUD_SERVICE
                - NO_ACTIVE_ON_PREM_SERVICE
                - HAS_ACTIVE_ON_PREM_SERVICE
        - name: issueStatus
          in: query
          description: Comma-separated string; Returns only result whose asset's issue
            statuses fall in the provided list.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - NO_ACTIVE_ISSUE
                - HAS_ACTIVE_ISSUE
        - name: hostingEnvironment
          in: query
          description: Filter by Hosting Environment
          required: false
          schema:
            type: string
            enum:
              - ON_PREM
              - CLOUD
              - NONE
              - RESERVED_IPS
        - name: hasRelatedCloudResources
          in: query
          description: Filter by whether the asset has a related cloud resource asset
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: boolean
        - name: isPaidLevelDomain
          in: query
          description: Filter by whether the assets is a paid level domain. This will
            return domains like bar.com, but will exclude foo.bar.com.
          required: false
          schema:
            type: boolean
        - name: tagId
          in: query
          description: Comma-separated string; Returns any assets with a tagId in the
            provided set.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              format: uuid
        - name: tagName
          in: query
          description: Comma-separated string; Returns any assets with a tagName in
            the provided set.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: filename
          in: query
          description: The filename to use for downloads
          required: false
          schema:
            type: string
      responses:
        200:
          description: default response
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/FileDownloadResponseEntityCsvDomainAsset'
  /api/v2/assets/domains/{id}/annotations:
    put:
      tags:
        - Domain Assets
      summary: Update domain annotations
      description: Update domain annotations. The request must contain either a contact
        email or id for each contact and tag name or id for each tag. If both contact
        email and id are supplied, only the id will be used. If tag name and id are
        supplied only the id will be used. If the tag name or contact email do not
        exist yet, they will be created.
      operationId: updateDomainAssetAnnotations
      parameters:
        - name: id
          in: path
          description: Domain id for given domain asset
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Annotations'
        required: true
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Annotations'
  /api/v2/assets/domain-registrars:
    get:
      tags:
        - Domain Registrars
      summary: List domain registrars
      description: List domain registrars
      operationId: getDomainRegistrars
      parameters:
        - name: limit
          in: query
          description: Page size limit
          required: false
          schema:
            type: integer
            format: int32
            default: 100
        - name: pageToken
          in: query
          description: Page token for pagination
          required: false
          schema:
            type: string
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageDomainRegistrar'
  /api/v2/assets/entities:
    get:
      tags:
        - Entities
      summary: List entities
      description: List entities
      operationId: getEntities
      parameters:
        - name: limit
          in: query
          description: Page size limit
          required: false
          schema:
            type: integer
            format: int32
            default: 100
        - name: pageToken
          in: query
          description: Page token for pagination
          required: false
          schema:
            type: string
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageBusinessUnit'
  /api/v2/assets/ip-range/tag-assignments/bulk:
    post:
      tags:
        - Ip Range Assets
      summary: Bulk tag assignment
      description: Bulk tag assignment
      operationId: bulkTagOperations_3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkRequestBulkTagRequestOperation'
        required: true
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkResponseOperationStatusBulkTagRequestOperation'
  /api/v2/ip-range/tag-assignments/bulk:
    post:
      tags:
        - Ip Range Assets
      summary: Bulk tag assignment
      description: Bulk tag assignment
      operationId: bulkTagOperations_4
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkRequestBulkTagRequestOperation'
        required: true
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkResponseOperationStatusBulkTagRequestOperation'
  /api/v2/assets/ip-range/contact-assignments/bulk:
    post:
      tags:
        - Ip Range Assets
      summary: Bulk assignments and unassignments of contacts
      description: Bulk assignments and unassignments of contacts. Both the asset
        and contact must exist already.
      operationId: bulkUpdateContactAssignments_3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkRequestBulkContactAssignmentOperation'
        required: true
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkResponseOperationStatusBulkContactAssignmentOperation'
  /api/v2/ip-range/contact-assignments/bulk:
    post:
      tags:
        - Ip Range Assets
      summary: Bulk assignments and unassignments of contacts
      description: Bulk assignments and unassignments of contacts. Both the asset
        and contact must exist already.
      operationId: bulkUpdateContactAssignments_4
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkRequestBulkContactAssignmentOperation'
        required: true
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkResponseOperationStatusBulkContactAssignmentOperation'
  /api/v2/assets/ip-range/{id}:
    get:
      tags:
        - Ip Range Assets
      summary: Get IP Range
      description: Get an IP Range by ID
      operationId: getIpRangeAsset
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: include
          in: query
          description: 'Comma-separated string; Include the provided fields as part
          of the serialized result.<br/>Values:<br/>`certDetails`: populate all elements
          in `data[*].details`.<br/>If param is not specified, `data[*].details` will
          be empty.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalIpRangeAsset'
    delete:
      tags:
        - Ip Range Assets
      summary: Delete IP Range
      description: Delete the given IP Range, and all connections to other data. This
        will only work for user-defined IP Ranges.
      operationId: deleteIpRangeAsset
      parameters:
        - name: id
          in: path
          description: ID for given IP Range.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                type: string
    patch:
      tags:
        - Ip Range Assets
      summary: Partial update of an IP Range
      description: Allows the partial update of the given IP Range.
      operationId: updateIpRangeAsset
      parameters:
        - name: id
          in: path
          description: ID for given IP Range.
          required: true
          schema:
            type: string
            format: uuid
        - name: include
          in: query
          description: 'Comma-separated string; Include the provided fields as part
          of the serialized result.<br/>Values:<br/>`certDetails`: populate all elements
          in `data[*].details`.<br/>If param is not specified, `data[*].details` will
          be empty.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIpRangeRequest'
        required: true
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalIpRangeAsset'
  /api/v2/ip-range/{id}:
    get:
      tags:
        - Ip Range Assets
      summary: Get IP Range
      description: Get an IP Range by ID
      operationId: getIpRangeAsset_1
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: include
          in: query
          description: 'Comma-separated string; Include the provided fields as part
          of the serialized result.<br/>Values:<br/>`certDetails`: populate all elements
          in `data[*].details`.<br/>If param is not specified, `data[*].details` will
          be empty.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalIpRangeAsset'
    delete:
      tags:
        - Ip Range Assets
      summary: Delete IP Range
      description: Delete the given IP Range, and all connections to other data. This
        will only work for user-defined IP Ranges.
      operationId: deleteIpRangeAsset_1
      parameters:
        - name: id
          in: path
          description: ID for given IP Range.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                type: string
    patch:
      tags:
        - Ip Range Assets
      summary: Partial update of an IP Range
      description: Allows the partial update of the given IP Range.
      operationId: updateIpRangeAsset_1
      parameters:
        - name: id
          in: path
          description: ID for given IP Range.
          required: true
          schema:
            type: string
            format: uuid
        - name: include
          in: query
          description: 'Comma-separated string; Include the provided fields as part
          of the serialized result.<br/>Values:<br/>`certDetails`: populate all elements
          in `data[*].details`.<br/>If param is not specified, `data[*].details` will
          be empty.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIpRangeRequest'
        required: true
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalIpRangeAsset'
  /api/v2/assets/ip-range:
    get:
      tags:
        - Ip Range Assets
      summary: Gets IP Ranges
      description: Get a paginated list of of IP Ranges and associated custom ranges.
      operationId: getIpRangeAssets
      parameters:
        - name: limit
          in: query
          description: Page size limit
          required: false
          schema:
            type: integer
            format: int32
            default: 100
        - name: offset
          in: query
          description: Offset for pagination
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: include
          in: query
          description: 'Comma-separated string; Include the provided fields as part
          of the serialized result.<br/>Values:<br/>`certDetails`: populate all elements
          in `data[*].details`.<br/>If param is not specified, `data[*].details` will
          be empty.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: tags
          in: query
          description: Comma-separated string; Returns any assets with a tagId in the
            provided set.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              format: uuid
        - name: tag-names
          in: query
          description: Comma-separated string; Returns any assets with a tagName in
            the provided set.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: business-units
          in: query
          description: 'Comma-separated string; Returns only results whose Business
          Unit''s ID falls in the provided list. NOTE: If omitted, the API will return
          results for all Business Units the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              format: uuid
        - name: business-unit-names
          in: query
          description: 'Comma-separated string; Returns only results whose Business
          Unit''s Name falls in the provided list. NOTE: If omitted, the API will
          return results for all Business Units the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: inet
          in: query
          description: Filter by IP
          required: false
          schema:
            type: string
        - name: sort
          in: query
          description: Sort by specified properties
          required: false
          schema:
            type: string
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyPageExternalIpRangeAsset'
    post:
      tags:
        - Ip Range Assets
      summary: Creates an IP Range
      description: Creates a new custom IP Range. A validation error will be returned
        if the start and end addresses of the custom range do not fit within a top
        level range defined by Expanse.
      operationId: createIpRangeAsset
      parameters:
        - name: include
          in: query
          description: 'Comma-separated string; Include the provided fields as part
          of the serialized result.<br/>Values:<br/>`certDetails`: populate all elements
          in `data[*].details`.<br/>If param is not specified, `data[*].details` will
          be empty.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIpRangeRequest'
        required: true
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalIpRangeAsset'
  /api/v2/ip-range:
    get:
      tags:
        - Ip Range Assets
      summary: Gets IP Ranges
      description: Get a paginated list of of IP Ranges and associated custom ranges.
      operationId: getIpRangeAssets_1
      parameters:
        - name: limit
          in: query
          description: Page size limit
          required: false
          schema:
            type: integer
            format: int32
            default: 100
        - name: offset
          in: query
          description: Offset for pagination
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: include
          in: query
          description: 'Comma-separated string; Include the provided fields as part
          of the serialized result.<br/>Values:<br/>`certDetails`: populate all elements
          in `data[*].details`.<br/>If param is not specified, `data[*].details` will
          be empty.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: tags
          in: query
          description: Comma-separated string; Returns any assets with a tagId in the
            provided set.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              format: uuid
        - name: tag-names
          in: query
          description: Comma-separated string; Returns any assets with a tagName in
            the provided set.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: business-units
          in: query
          description: 'Comma-separated string; Returns only results whose Business
          Unit''s ID falls in the provided list. NOTE: If omitted, the API will return
          results for all Business Units the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              format: uuid
        - name: business-unit-names
          in: query
          description: 'Comma-separated string; Returns only results whose Business
          Unit''s Name falls in the provided list. NOTE: If omitted, the API will
          return results for all Business Units the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: inet
          in: query
          description: Filter by IP
          required: false
          schema:
            type: string
        - name: sort
          in: query
          description: Sort by specified properties
          required: false
          schema:
            type: string
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyPageExternalIpRangeAsset'
    post:
      tags:
        - Ip Range Assets
      summary: Creates an IP Range
      description: Creates a new custom IP Range. A validation error will be returned
        if the start and end addresses of the custom range do not fit within a top
        level range defined by Expanse.
      operationId: createIpRangeAsset_1
      parameters:
        - name: include
          in: query
          description: 'Comma-separated string; Include the provided fields as part
          of the serialized result.<br/>Values:<br/>`certDetails`: populate all elements
          in `data[*].details`.<br/>If param is not specified, `data[*].details` will
          be empty.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIpRangeRequest'
        required: true
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalIpRangeAsset'
  /api/v2/assets/ip-range/csv:
    get:
      tags:
        - Ip Range Assets
      summary: Gets IP Ranges CSV
      description: Get a CSV of of IP Ranges and associated custom ranges.
      operationId: getIpRangeAssetsCsv
      parameters:
        - name: limit
          in: query
          description: Page size limit
          required: false
          schema:
            type: integer
            format: int32
            default: 200000
        - name: offset
          in: query
          description: Offset for pagination
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: include
          in: query
          description: 'Comma-separated string; Include the provided fields as part
          of the serialized result.<br/>Values:<br/>`certDetails`: populate all elements
          in `data[*].details`.<br/>If param is not specified, `data[*].details` will
          be empty.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: tags
          in: query
          description: Comma-separated string; Returns any assets with a tagId in the
            provided set.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              format: uuid
        - name: tag-names
          in: query
          description: Comma-separated string; Returns any assets with a tagName in
            the provided set.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: business-units
          in: query
          description: 'Comma-separated string; Returns only results whose Business
          Unit''s ID falls in the provided list. NOTE: If omitted, the API will return
          results for all Business Units the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              format: uuid
        - name: business-unit-names
          in: query
          description: 'Comma-separated string; Returns only results whose Business
          Unit''s Name falls in the provided list. NOTE: If omitted, the API will
          return results for all Business Units the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: inet
          in: query
          description: Filter by IP
          required: false
          schema:
            type: string
        - name: sort
          in: query
          description: Sort by specified properties
          required: false
          schema:
            type: string
            default: startAddress
      responses:
        200:
          description: default response
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/FileDownloadResponseEntityCsvExternalIpRangeAsset'
  /api/v2/ip-range/csv:
    get:
      tags:
        - Ip Range Assets
      summary: Gets IP Ranges CSV
      description: Get a CSV of of IP Ranges and associated custom ranges.
      operationId: getIpRangeAssetsCsv_1
      parameters:
        - name: limit
          in: query
          description: Page size limit
          required: false
          schema:
            type: integer
            format: int32
            default: 200000
        - name: offset
          in: query
          description: Offset for pagination
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: include
          in: query
          description: 'Comma-separated string; Include the provided fields as part
          of the serialized result.<br/>Values:<br/>`certDetails`: populate all elements
          in `data[*].details`.<br/>If param is not specified, `data[*].details` will
          be empty.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: tags
          in: query
          description: Comma-separated string; Returns any assets with a tagId in the
            provided set.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              format: uuid
        - name: tag-names
          in: query
          description: Comma-separated string; Returns any assets with a tagName in
            the provided set.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: business-units
          in: query
          description: 'Comma-separated string; Returns only results whose Business
          Unit''s ID falls in the provided list. NOTE: If omitted, the API will return
          results for all Business Units the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              format: uuid
        - name: business-unit-names
          in: query
          description: 'Comma-separated string; Returns only results whose Business
          Unit''s Name falls in the provided list. NOTE: If omitted, the API will
          return results for all Business Units the user has permissions to view.'
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: inet
          in: query
          description: Filter by IP
          required: false
          schema:
            type: string
        - name: sort
          in: query
          description: Sort by specified properties
          required: false
          schema:
            type: string
            default: startAddress
      responses:
        200:
          description: default response
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/FileDownloadResponseEntityCsvExternalIpRangeAsset'
  /api/v2/assets/ip-range/tag:
    post:
      tags:
        - Ip Range Assets
      summary: Create and assign tags to IP Ranges
      description: Create, if needed, and assign tags to IP Ranges
      operationId: assignAndCreateTags
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagAssignmentAndCreation'
        required: true
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalIpRangeAsset'
  /api/v2/ip-range/tag:
    post:
      tags:
        - Ip Range Assets
      summary: Create and assign tags to IP Ranges
      description: Create, if needed, and assign tags to IP Ranges
      operationId: assignAndCreateTags_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagAssignmentAndCreation'
        required: true
      responses:
        200:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalIpRangeAsset'
  /api/v2/assets/providers:
    get:
      tags:
        - Providers
      summary: List providers
      description: List providers
      operationId: getProviders
      parameters:
        - name: limit
          in: query
          description: Page size limit
          required: false
          schema:
            type: integer
            format: int32
            default: 100
        - name: pageToken
          in: query
[...]
